/* jQuery Menu 
http://www.jqueryscript.net/menu/Responsive-Flat-Dropdown-Menu-with-jQuery-CSS3.html */

nav {
  display: block;
  background: $black;
  float:right;
}

.menu { display: block; }

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.menu li:first-child { margin-left: 0; }

.menu li a {
  font-weight: 400;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  color: #fff;
  transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,
.menu li:hover>a {
  color: #fff;
  background: #FC6D58;
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 170px;
  position: absolute;
  right: 0px;
  background: #fff;
  z-index: 99;
  transform: translate(0, 20px);
  transition: all 0.2s ease-out;
}

.menu ul:after {
  bottom: 100%;
  right: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(202,202,202,0);
  border-bottom-color: rgb(202,202,202);
  border-width: 6px;
  margin-left: -6px;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  font-size: 12px;
  font-weight: 400;
  display: block;
  color: $black;
  background: $medium-gray;
}
a.parent-menu::after {
content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #2199e8 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: absolute;
    top: 0.825rem;
    right: 5px;
  }

.menu ul li a:hover,
.menu ul li:hover>a {
  background: #FC6D58;
  color: #fff;
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.menu ul ul {
  left: 169px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.2s ease-out;
}

.menu ul ul:after {
  left: -6px;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(202,202,202,0);
  border-right-color: rgb(202,202,202);
  border-width: 6px;
  margin-top: -6px;
}

.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background: $black;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.responsive-menu:hover {
  background: #E95546;
  color: #fff;
  text-decoration: none;
}

// a.homer { background: #FC6D58; } aka current

@media (min-width: 768px) and (max-width: 979px) {

	.mainWrap { width: 768px; }

	.menu ul { top: 37px; }

	// .menu li a { font-size: 12px; }

	a.homer { background: #E95546; }

}

@media (max-width: 767px) {

	.mainWrap {
	  width: auto;
	  padding: 50px 20px;
	}

	.menu { display: none; }

	.responsive-menu { display: block; }

	nav {
	  margin: 0;
	  background: none;
	}

	.menu li {
	  display: block;
	  margin: 0;
	}

	.menu li a {
	  background: $medium-gray;
	  color: $black;
	}

	.menu li a:hover,
	.menu li:hover>a {
	  background: #FC6D58;
	  color: #fff;
	}

	.menu ul {
	  visibility: hidden;
	  opacity: 0;
	  top: 0;
	  left: 0;
	  width: 100%;
	  transform: initial;
	}

	.menu li:hover>ul {
	  visibility: visible;
	  opacity: 1;
	  position: relative;
	  transform: initial;
	}

	.menu ul ul {
	  left: 0;
	  transform: initial;
	}

	.menu li>ul ul:hover { transform: initial; }

}

