@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
// @include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

.page-wrap-black {
    background: $black;
    color: $white;
}

.page-wrap-white {
    background: $white;
    color: $black;
}

.row {
    max-width: 58.125rem;
}

figure.painting {
    margin: 4rem auto;
	max-width:100%;
	max-height:60%;
	width:auto;
	height:auto;
	text-align: center;
}

.painting img {
    max-width: 100%;
    max-height: 70vh;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.painting-info {
	font-size: .9em;
    margin: 1em auto;
}

.painting-title {
    font-style: italic;
}

@import 'navigation';


/* Topbar Navigation */

.site-title {
	color:$white;
    position: absolute;
    left: 1em;
    top: 1em;
    font-weight: 700;
}

// .title-bar,
// .top-bar,
// .top-bar li,
// .top-bar li a {
// 	background:$black;
// 	color:$white;

// 		@include breakpoint(800px down) {
// 		font-size: .95em;
// 	}

// }

// .top-bar-right li {
// 	@include breakpoint(small down) {
// 		display:block;
// 	}
// }

// .top-bar li a {
// 	border-right: 1px solid $darker-gray;
// }
// .top-bar-right ul.dropdown.menu li:last-of-type a {
// 	border-right: none;
// }

// .is-dropdown-submenu-parent.is-down-arrow > a::after {
// 	border-color: $dark-gray transparent transparent;
// 	    margin-right: .2em;
// }
// .dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
// 	border: none;
// }
// .dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub a {
// 	border-right: none;
// }

/* mobile nav */

// li.menu-text {
// 	@include breakpoint(small down) {
// 		display: none;
// 	}
// }


/* */

/* Footer */

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4rem;
}

#footer, .push {
	height: 4rem;
}

#footer {
	background: $black;
	border-top: 1px solid $darker-gray;
	color: $white;
	text-align: center;
	padding: 1rem;
}