@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
// @import 'magnific-main';
@import 'fancybox';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
// @include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

.page-wrap-black {
    background: $black;
    color: $white;
}

.page-wrap-white {
    background: $white;
    color: $black;
}

.row {
    max-width: 58.125rem;
}

h1 {
    color: #cacaca;
    font-size: 1.3em;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 2em;
}

a:hover, a:focus {
    color: $white;
}

/* Paintings */

figure.painting {
    margin: 4rem auto 8rem;
	max-width:100%;
	width:auto;
	height:auto;
	text-align: center;
}

.painting img {
    max-width: 100%;
    max-height: 78vh;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.painting-info,
.open-gallery-link {
	font-size: .9em;
    margin: 1em auto;
}

a.open-gallery-link {
    margin-top: -.4rem;
    display: block;
    color: $medium-gray;
}

a.open-gallery-link:hover {
	color:$secondary-color;
}


.painting-title {
    font-style: italic;
}

/* Navigation */

@import 'navigation';


/* Site Title */

.site-title {
	color:$white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.25em;
    font-weight: 700;

    @include breakpoint(large) {
    	padding-left: 5em;
    }
}

.site-title a {
	color:$white;
}

.site-title a:hover {
	color:$secondary-color;
}

/*  */

audio {
	display: block;
    margin: 0 auto 2em;
}

/* FancyBox */

.hidden {
    display: none;
}

.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

/* Contact Modal */

.reveal,
.reveal label {
	color: $white;
}

.reveal .button[type="submit"] {
	background-color: $secondary-color;
	margin-top: 1em;
}
.reveal .button[type="submit"]:hover {
	background-color: $black;
}

/* Footer */

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4rem;
}

#footer, .push {
	height: 4rem;
}

#footer {
	background: $black;
	border-top: 1px solid #313131;
	color: $white;
	text-align: center;
	padding: 1rem;
}


