<div class="small reveal" id="contactModal" data-reveal>

<div id="form-messages"></div>

<form id="ajax-contact" method="post" action="{{root}}/assets/php/mailer.php">
	<h3>Contact</h3>
    <!-- <p>For mailing list and inquiries</p> -->

    <div class="field">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your Name" required>
    </div>

    <div class="field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="youremail@example.com" required>
    </div>

    <div class="field">
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    </div>

    <div class="field">
        <input id="mailinglist" name="mailinglist" type="checkbox" value="yes" checked><label for="mailinglist">I'd like to be on the mailing list</label>
    </div>

    <div id="hidDiv">
      <label for="formhid">Leave this field blank</label>
      <input type="text" name="formhid" id="formhid">
    </div>

    <div class="field">
        <button class="button" type="submit">Send</button>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span></button>

    <!-- <div class="g-recaptcha" data-sitekey="6LezYRgTAAAAAEjHRoE3PhWx6czAwoGAURvGdQmt"></div> -->

</form>



</div> <!-- end contactModal -->
