<div class="site-title"><a href="{{root}}/index.html">Carla Lobmier</a></div>

<nav>
    <a id="resp-menu" class="responsive-menu" href="#">
    <i class="fa fa-reorder"></i> <!-- <a href="#">Menu</a> -->
    </a>
    <ul class="menu">

        <li><a class="parent-menu" onmouseover="" href="#">Scrolling Confluence </a>
        <!-- onClick="return true"  -->
            <ul class="sub-menu">
                <li><a href="{{root}}/art-in-the-corner-room.html">Art in the Corner Room</a></li>
                <li><a href="{{root}}/artwall-on-third.html">Artwall on Third</a></li>
                <li><a href="{{root}}/installation.html">Installation</a></li>
            </ul>
        </li>

        <li><a class="parent-menu" onmouseover="" href="#">Paintings </a>
            <ul class="sub-menu">
                <li><a href="{{root}}/horizontal-vellum.html">Horizontal Vellum</a></li>
                <li><a href="{{root}}/vellum-series.html">Vellum Series</a></li>
                <li><a href="{{root}}/vertical-vellum.html">Vertical Vellum</a></li>
                <li><a href="{{root}}/vermont-watercolors.html">Vermont Watercolors</a></li>
                <li><a href="{{root}}/chandeliers.html">Chandeliers</a></li>
                <li><a href="{{root}}/pies-and-boats.html">Pies and Boats</a></li>
                <li><a href="{{root}}/trunk.html">Trunk</a></li>
            </ul>
        </li>

        <li><a href="{{root}}/statement.html">Statement</a></li>

        <li><a href="{{root}}/bio.html">Bio</a></li>

        <li><a data-open="contactModal">Contact</a></li>

    </ul>
</nav>

<div class="small reveal" id="contactModal" data-reveal>
    <form id="contact-form" action="{{root}}/assets/php/submitform.php" method="post">
        <p>Some text here about what you want</p>

        <label>Name
        <input type="text" placeholder="Name" name="name">
        </label>

        <label>Your email address
        <input type="email" placeholder="youremail@example.com" name="email">
        </label>

        <label>Talk to me!
        <textarea placeholder="" name="messageBody"></textarea>
        </label>

        <button class="button" type="submit">Submit</button>
        <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
        </button>
    </form>    
</div>