<div class="site-title"><a href="{{root}}/index.html">Carla Lobmier</a></div>

<nav id="main-nav" role="navigation">

    <!-- Mobile menu toggle button (hamburger/x icon) -->
    <input id="main-menu-state" type="checkbox" />
    <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
    </label>

    <ul id="main-menu" class="sm sm-mint">

        <li class="top-level"><a href="#">Projects</a>
            <ul>
                <li><a href="{{root}}/unnatural-zoom.html">UnNatural Zoom: Everything Now</a></li>
                <li><a href="{{root}}/shaping-the-container.html">Shaping the Container</a></li>
                <li><a href="{{root}}/grace-in-dwelling.html">Grace in Dwelling</a></li>
                <li><a href="{{root}}/art-in-the-corner-room.html">Scrolling Confluence</a></li>
                <li class="menu-third-level"><a href="{{root}}/art-in-the-corner-room.html">Art in the Corner Room</a></li>
                <li class="menu-third-level"><a href="{{root}}/art-wall-on-third.html">Art Wall on Third</a></li>
                <li class="menu-third-level"><a href="{{root}}/installation.html">Installation</a></li>
            </ul>
        </li>
        <li class="top-level"><a href="#">Paintings</a>
            <ul>
                <li><a href="{{root}}/private-pandemic.html">Private Pandemic</a></li>
                <li><a href="{{root}}/horizontal-vellum.html">Horizontal Vellum</a></li>
                <li><a href="{{root}}/vellum-series.html">Vellum Series</a></li>
                <li><a href="{{root}}/vertical-vellum.html">Vertical Vellum</a></li>
                <li><a href="{{root}}/vermont-watercolors.html">Vermont Watercolors</a></li>
                <li><a href="{{root}}/chandeliers.html">Chandeliers</a></li>
                <li><a href="{{root}}/pies-and-boats.html">Pies and Boats</a></li>
                <li><a href="{{root}}/trunk.html">Trunk</a></li>
                <li><a href="{{root}}/falling-off-a-cliff.html">Falling Off A Cliff</a></li>
            </ul>

        <li class="top-level"><a href="{{root}}/statement.html">Statement</a></li>

        <li class="top-level"><a href="{{root}}/bio.html">Bio</a></li>

        <li class="top-level"><a data-open="contactModal">Contact</a></li>

    </ul>
</nav>

{{> contact-form}}
