<div class="site-title">Carla Lobmier</div>

<nav>
    <a id="resp-menu" class="responsive-menu" href="#">
    <i class="fa fa-reorder"></i> <!-- <a href="#">Menu</a> -->
    </a>
    <ul class="menu">
        
        <li><a class="parent-menu" href="#">Scrolling Confluence</a>
            <ul class="sub-menu">
                <li><a href="#">Art in the Corner Room</a></li>
                <li><a href="#">Artwall on Third</a></li>
                <li><a href="#">Installation</a></li>
            </ul>
        </li>

        <li><a class="parent-menu" href="#">Paintings</a>
            <ul class="sub-menu">
                <li><a href="#">Horizontal Vellum</a></li>
                <li><a href="#">Vellum Series</a></li>
                <li><a href="#">Vertical Vellum</a></li>
                <li><a href="#">Vermont Watercolors</a></li>
                <li><a href="#">Chandeliers</a></li>
                <li><a href="#">Pies and Boats</a></li>
                <li><a href="#">Trunk</a></li>
            </ul>
        </li>

        <li><a href="#">Statement</a></li>

        <li><a href="#">Bio</a></li>

        <li><a href="#">Contact</a></li>

    </ul>
</nav>



<!-- <div class="title-bar" data-responsive-toggle="primary-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Carla Lobmier</div>
</div>

<div class="top-bar" id="primary-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Carla Lobmier</li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#">Scrolling Confluence</a>
                <ul class="menu vertical">
                    <li><a href="#">Art in the Corner Room</a></li>
                    <li><a href="#">Artwall on Third</a></li>
                    <li><a href="#">Installation</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Paintings</a>
                    <ul class="menu vertical">
                        <li><a href="#">Horizontal Vellum</a></li>
                        <li><a href="#">Vellum Series</a></li>
                        <li><a href="#">Vertical Vellum</a></li>
                        <li><a href="#">Vermont Watercolors</a></li>
                        <li><a href="#">Chandeliers</a></li>
                        <li><a href="#">Pies and Boats</a></li>
                        <li><a href="#">Trunk</a></li>
                    </ul>
            </li>

            <li><a href="#">Statement</a></li>

            <li><a href="#">Bio</a></li>
            
            <li><a href="#">Contact</a></li>
            
        </ul>
    </div> --> <!-- end top-bar-right -->
<!-- </div> --> <!-- end primary-menu -->
