<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="assets/img/favicon.ico"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>Carla Lobmier</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
    
<body>
    <div class="wrapper"> <!-- this is to make sticky footer work -->

    {{> header}}
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <div class="push"></div> <!-- this is to push sticky footer -->

    </div> <!-- wrapper -->

    {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>
</body>
</html>